.ClothingProductsList {
    height: 100%;
    display: grid;
    grid-template-rows: 5% 92% 3%;
}

header, footer {
    grid-template-rows: repeat(6, 1fr);
}

.ClothingProductsList > header {
    margin: auto;
 }

 .ClothingProductsList main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5%;
}