.Header {
    display: flex;
    justify-content: space-between;
}

.Header>.AuthMenu {
    margin: 30px 0px 0px 30px;
}

.Header>.Products {
    color: white;
    letter-spacing: 15px;
    margin: 10px 0px 0px 50px;
}