.ClothingProductCard {
    width: 580px;
    height: 380px;
    text-align: left;
    border: 2.5px solid #23a7db;
    border-radius: 20px;
    margin-left: 80px;
    margin-bottom: 80px;
    position: relative;
}

.ClothingProductCard .text {
    width: 13cm;
    font-size:xx-large;
    color: black;
    position: absolute;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 20%;
}

.ClothingProductCard .adminCardNav .FaTrash {
    font-size: x-large;
    float: right;
    color: red;
    margin: 8px 18px -5px 430px;
}

.ClothingProductCard .adminCardNav .FaEdit {
    font-size: 28px;
    float: left;
    color: lightgreen;
    margin: 10px 18px -5px 38px;
}